header {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1502864371730-9f80473ee677?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1524&q=80");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .div-header {
    background-color: #323232e8;
    /* border: 3px solid #538dbc; */
    padding: 20px 10vw 20px 10vw;
}

header div h1 {
    font-size: 70px;
}

header nav a {
    /* border: 2px solid white; */
    border: 2px solid #538dbc;
    color: #538dbc;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    /* border-radius: 30px; */
}

header nav a:hover {
    background-color: #538dbc;
    color: white;
}

header nav {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

/* link style */
.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  
  }

 .btn:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      var(--primary-color),
      transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
  }

  .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
  }

  .btn:before {
    transform: translateX(100%);
  }

  header img {
      width: 40px;
      height: 40px;
      margin: 0px 10px;
  }

    header .language {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: absolute;
        top: 5px;
        right: 5px;
    }
