.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .card {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #434343;
    justify-content: space-between;
    border-left: solid 10px #538dbc;
    padding: 20px;
    margin-bottom: 20px;
    /* align-items: center; */

}

.projects img {
    height: 100%;
    width: 50%;
}

.projects .card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .card h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.projects .card a {
    background-color: #538dbc;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin-right: 10px;
}

.card:hover {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    width: 81%;
}

.card-links a:hover {
    border: solid 2px white;
}

.card-links {
    margin-bottom: 10px;
}

/* [href="#"]{
    pointer-events: none;
} */

.disable {
    pointer-events: none;
    background-color: #323232;
}